body {background:#FEFEFE;}

.border-rounded{
	border-radius: 50% !important;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.text-mobile{
		padding-top: 15px;
	}
}

@media screen and (max-width: 800px) {
	.datos_avance{
		margin: 10px;
	}
}

.profiletimeline {
    position: relative;
    padding-left: 40px;
    margin-right: 10px;
    border-left: 1px solid rgba(120, 130, 140, 0.13);
    margin-left: 30px;
}

.profiletimeline .sl-item {
    margin-top: 8px;
    margin-bottom: 15px;
}

.profiletimeline .sl-left {
    float: left;
    margin-left: -31px;
    z-index: 1;
    margin-right: 15px;
}

.size-icon-information-person{
    max-width: 32px !important;
    margin-left: -20px;  
}

.information-person-text {
    font-size: 14px;
    font-weight: 600;
    color: #383838;
}

.font-12{
    font-size: 12px;
}

.font-13{
    font-size: 13px;
}

.font-14{
    font-size: 14px;
}

.font-15{
    font-size: 15px;
}

.font-18 {
	font-size: 18px;
}

.font-23 {
	font-size: 23px;
}

.font-25 {
	font-size: 25px;
}

.font-30{
	font-size: 30px;
}

.font-34{
	font-size: 34px;
}

.font-35{
	font-size: 35px;
}

.font-37{
	font-size: 31px;
}

.font-38{
	font-size: 38px;
}

.font-40{
	font-size: 40px;
}

.font-45{
	font-size: 45px;
}

.font-49{
	font-size: 36px;
}

.font-50{
	font-size: 50px;
}

.font-55{
	font-size: 55px;
}

.font-60{
	font-size: 40px;
}

.font-70{
	font-size: 70px;
}

a:hover{
	color: white;
}
.footable > tfoot .pagination{
	float: none !important;
	justify-content: center;
}
.row{
	margin-right: 0;
}

.bg-correct{
	color: #1ad27d;
	border: 1px solid #1ad27d;
}
.bg-incorrect{
	color: red;
	border: 1px solid red;
}
.bg-observed{
	color: #d2b01a;
	border: 1px solid #d2b01a;
}
.bg-notmeasure{
	color: #1b1b19;
	border: 1px solid #1b1b19;
}

li a, a{
	text-decoration: none;
}
@media screen and (max-width: 800px){
	body {
		padding-top: 0px;
	}
	.img_diresa{
		width: 130px;
	}
	.img_oeit{
		width: 180px;
		margin-right: -25px;
	}
}

.select2-container{
	width: 100% !important;
}

/* estilos para tablas  */
#fields_bateria_head {
	background: #6f91e7;
}

#fields_bateria_body {
	background: #6f91e724;
}

#fields_gestante_tratamiento_head {
	background: #093560;
}

#fields_gestante_tratamiento_body {
	background: #44828c0a;
}

#fields_4_meses_head {
	background: #638bb3;
}

#fields_4_meses_body {
	background: #638bb31a;
}

#fields_68_meses_head {
	background: #94cbe1;
}

#fields_68_meses_body {
	background: #94cbe12b;
}

#color_neonatal_head {
	background: #65a0c8;
}

#color_neonatal_body {
	background: #65a0c83d;
}

#color_prematuro_head {
	background: #a3c8d7;
}

#color_prematuro_body {
	background: #a3c8d717;
}

#color_homologado_head {
	background: #094f86;
}

#color_homologado_body {
	background: #094f8612;
}

#color_fed_head {
	background: #a7a7a7;
}

#color_fed_body {
	background: #a7a7a73d;
}

@media screen and (max-width: 800px){
	.homologation {
		margin: 15px 20px;
	}
}

@media screen and (min-width: 1200px){
	.homologation {
		margin: 5px 110px;
	}
}

canvas.myChartProvince, canvas.myChartDistrict{
	width: 400px !important; 
	height: 300px !important; 
	display: initial !important;
}
/* img{
	transform: all 0.5s ease;

}
img:hover{
	transform: scale(0.9);
} */

.img-user{
	background: white;
	border-radius: 50%;
	border: 6px solid #7194db5e;
}
.img-covid{
	color: #55b6bc;
	font-size: 36px;
	padding-left: 80px;
	margin-bottom: 40px;
}
.profiletimeline1 {
	position: relative;
	padding-left: 40px;
	margin-right: 10px;
	border-left: 1px solid #26dad2;
	margin-left: 30px;
}
.profiletimeline1 .sl-left {
	float: left;
	margin-left: -65px;
	z-index: 1;
	margin-right: 30px;
}
.profiletimeline1 .sl-item {
	margin: 20px 0;
}
.circle1{
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 10px;
	color: #26dad2;
	border: 3px solid #26dad2;
}

.btn_dac{
	font-weight: 500;
    border: 0;
	clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
	width: 170px;
    height: 60px;
}

.btn_oxa{
	font-weight: 500;
    border: 0;
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
	width: 170px;
}

.btn_pasco{
	font-weight: 500;
    border: 0;
	clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
	width: 170px;
}

.btn_dac.active, .btn_oxa.active, .btn_pasco.active { 
	color: blue; 
	background: #d7e6f5;
	transform: scale(1.17);
}


.css-bar {
	/* width: 90px !important;
	height: 90px !important; */
}

.css-bar:after, .css-bar > img, .css-bar > i {
	/* width: 74px !important;
	height: 75px !important;
	margin-left: 8px !important;
	margin-top: 8px !important; */
	background-color: transparent !important;
	color: transparent !important;
}

.btn_dac1{
	font-weight: 500;
    border: 0;
	clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
	width: 100px;
    height: 45px;
}

.btn_oxa1{
	font-weight: 500;
    border: 0;
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
	width: 100px;
	height: 45px;
}

.btn_pasco1{
	font-weight: 500;
    border: 0;
	clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
	width: 100px;
	height: 45px;
}

.nav-tabs#promsa .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	border-top: 4px solid #a8aebf;
}

.nav-justified .nav-item, .nav-justified>#promsa.nav-link{
	/* background: #f1f2f5; */
}

#prematuro thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #e0eff5 !important;
}

#prematuro thead tr th#color_prematuro_head {
	background: #a3c8d7 !important;
}

.table-responsive { 
	height: 450px;
	overflow:scroll;
}

.table_fed thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #d9d9d9 !important;
}

.table_fed thead tr th#color_fed_head {
	background: #a7a7a7 !important;
}

#tmz_neonatal thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #AED6F1 !important;
}

#tmz_neonatal thead tr th#color_neonatal_head {
	background: #65a0c8 !important;
}

#cuatro_meses thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #c9d0e2 !important;
}

#cuatro_meses thead tr th#fields_4_meses_head {
	background: #638bb3 !important;
}

#seis_ocho_meses thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #e0eff5 !important;
}

#seis_ocho_meses thead tr th#fields_68_meses_head {
	background: #94cbe1 !important;
}

#cred thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #78469b52 !important;
}

#cred thead tr th#fields_cred {
	background: #e9e1ef !important;
}

#visitas_cuatro_meses thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #324b6a !important;
	color: white;
}

#advance_cuatro_meses thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #4b5868 !important;
	color: white;
}

#bateria_completa thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #c9d0e2 !important;
}

#bateria_completa thead tr th#fields_bateria_head {
	background: #6f91e7 !important;
}

#visits_six_month_sin_dx thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #324b6a !important;
	color: white;
}

#visits_six_month_con_dx thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #4b5868 !important;
	color: white;
}

#visits_six_month_con_dx thead tr th#field_nominal, #visits_six_month_sin_dx thead tr th#field_nominal {
	background: black !important;
}

.m-r-4{
	margin-right: 40px;
}

/* PARA LOADING */
.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #bfbfc5;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
  
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}